.add-body {
    background: var(--bg-color);
    height: 100vh;
}
.add-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: 50vh;
    background: var(--block-bg-color);
    padding: 20px;
    border-radius: 15px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2), 5px -5px 5px rgba(255, 255, 255, 0.8);
}
.add-container > form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.add-container > form > input, button {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: var(--bg-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &:focus {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
        outline: none;
    }
}
.add-container > form > select {
    font-size: 16px;
    border: none;
    background: var(--bg-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    &:focus {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
        outline: none;
    }
}
.file-upload {
    grid-column: span 2;
}
.add-container > form > button {
    grid-column: span 2;
}
.add-container > form > button:hover {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.add-container > form > button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.file-upload input[type="file"] {
    display: none;
}
.custom-file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 190px;
    background-color: #007bff;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.custom-file-label:hover {
    background-color: #0056b3;
}

@media (max-width: 480px) {
    .add-body {
        height: unset;
    }
    .add-container {
        width: 85%;
        padding: 10px;
    }
    .add-container > form {
        grid-template-columns: auto;
        gap: 10px;
    }
    .file-upload {
        grid-column: unset;
    }
    .add-container > form > button {
        grid-column: unset;
        display: flex;
        justify-content: center;
    }
    .add-container > form > button, input, select, option {
        text-align: center;
    }
    .custom-file-label {
        height auto;
    }
}