.category-item {
    order: 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.item-product {
    display: grid;
    grid-template-rows: 45% 55%;
    height: 350px;
    background: var(--block-bg-color);
    border-radius: 16px;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
}
.item-img {
    position: relative;
}
.item-img > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
}
.item-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px;
}
.item-body > div {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}
.item-title {
    text-align: center;
    font-size: 24px;
    padding: 10px 0;
    overflow: hidden;
    color: #000000;
}
.item-value {
    padding: 3px 8px;
    font-size: 20px;
    background: var(--block-bg-color);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
    color: #000000;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.item-price {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #000000;
}
.item-cart {
    background: var(--block-bg-color);
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
    color: #000000;
    padding: 3px 8px;
    border-radius: 8px;
    border: none;
    font-size: 28px;
    cursor: pointer;
    transition: .25s;
}
.item-cart:hover {
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}
.item-cart:active {
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
}

@media (max-width: 480px) {
    .category-item {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 80px;
        gap: 15px;
    }
    .item-product {
        grid-template-rows: 50% 50%;
        height: 250px;
        border-radius: 12px;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
    }
    .item-body {
        padding: 0;
    }
    .item-title {
        font-size: 20px;
    }
    .item-value {
        font-size: 16px;
        padding: 6px 12px;
    }
    .item-price {
        font-size: 16px;
        padding: 6px 12px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
    }
    .item-cart {
        display: none;
    }
}