.body-log {
    overflow: hidden;
    height: 100vh;
    background: var(--bg-color);
}
.main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 200px;
    background: var(--block-bg-color);
    border-radius: 34px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2), 5px -5px 5px rgba(255, 255, 255, 0.8);

}
.img-log {
    width: 400px;
    object-fit: cover;
}
img {
    width: 100%;
    height: 100%;
}
.log-up, .log-in {
    padding: 10px;
    width: 100%;
    gap: 10px;
    margin: 5px 0;
    border-radius: 10px;
    border: none;
    background: var(--bg-color);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    &:active {
        box-shadow: #D6D6E7 0 3px 7px inset;
        transform: translateY(2px);
    }
    &:hover {
        box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    }
}
/*sign-up*/
.sign-up, .sign-in {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 200px;
    background: var(--block-bg-color);
    border-radius: 34px;
    text-align: center;
    flex-direction: column;
    gap: 10px;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2), 5px -5px 5px rgba(255, 255, 255, 0.8);
    display: none;
}
.sign-up > form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.sign-up > form > .username {
    grid-column: span 2;
}
.sign-up input {
    background: var(--bg-color);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
}
.sign-up input:focus {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    outline: none;
}
.sign-up button {
    background: var(--bg-color);
    border: none;
    grid-column: span 2;
    font-size: 20px;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.sign-up button:hover {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.sign-up button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
.sign-up input[type="radio"] {
    display: none;
}
.sign-up label {
    display: inline-block;
    border: none;
    background: var(--bg-color);
    cursor: pointer;
    text-align: center;
    padding: 10px 20px;
    border-radius: 8px;
    transition: all 0.3s ease;
}
.sign-up label:hover {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;

}
.sign-up input[type="radio"]:checked + label {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
/*sign-up*/
/*sig-in*/
.sign-in > form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.sign-in > form > input {
    background: var(--bg-color);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 8px;
}
.sign-in input:focus {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
    outline: none;
}
.sign-in > form > button {
    background: var(--bg-color);
    border: none;
    grid-column: span 2;
    font-size: 20px;
    padding: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.sign-in button:hover {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}
.sign-in button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}
/*sig-in*/

@media (max-width: 480px) {
    .body-log {
        height: unset;
    }
    .main {
        width: 85%;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .img-log {
        width: 100%;
    }
    .sign-up, .sign-in {
        width: 85%;
        padding: 10px 15px;
        border-radius: 10px;
    }
    .sign-up > form {
        grid-template-columns: auto auto;
    }
    .sign-up input {
        padding: 5px 10px;
        font-size: 16px;
        grid-column: span 2;
    }
    .sign-up label {
        padding: 5px 10px;
    }
    .sign-up button {
        padding: 8px 10px;
        font-weight: 600;
    }
    .sign-up > span {
        font-size: 12px;
    }
    .sign-in > form {
        grid-template-columns: auto;
    }
    .sign-in > form > input {
        padding: 5px 10px;
        font-size: 16px;
    }
    .sign-in > form > button {
        grid-column: unset;
        padding: 8px 10px;
        font-weight: 600;
    }
    .sign-in > span {
        font-size: 12px;
    }
}