@media (max-width: 480px) {
    body {
        padding: 0 5px;
    }
    .page-title {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        align-items: center;
    }
    .page-back {
        font-size: 30px;
    }
    .page-back-hidden {
        display: none;
    }
    .page-title-name {
        margin: auto;
        font-size: 26px;
        letter-spacing: 1px;
        font-weight: 600;
    }
    header {
        height: 50px;
        padding: 10px 15px;
        background: transparent;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0);
    }
    .logo {
        display: none;
    }
    .search {
        height: 100%;
        width: 100%;
    }
    .search input {
        height: 100%;
        outline: none;
        font-size: larger;
        padding-left: 50px;
        background: var();
        color: #000;
        letter-spacing: 1px;
    }
    .search > button {
        background: var(--block-bg-color);
    }
    .search input:focus {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 10px 0px;
    }
    .nav {
        display: none;
    }
    /*Корзина*/
    .scroll {
        overflow-y: scroll;
    }
    .no-scroll {
        overflow: hidden;
    }
    .cart-page-body {
        height: calc(100% - 175px);
    }
    main {
        padding: 10px 15px;
    }
    .banner {
        display: none;
    }
    .banner-1 {
        display: none;
    }
    .banner-2 {
        width: 100%;
    }
    .title-discount {
        display: none;
    }
    .discount {
        margin-bottom: 0;
        order: 1;
    }
    .title-category {
        order: 2;
    }
    .title-category > span {
        font-size: 24px;
    }
    .category-product {
        order: 4;
        flex-direction: column;
        height: max-content;
        gap: 10px;
        
    }
    .category-product > div > a {
        display: flex;
        justify-content: flex-start;
        gap: 15px;
        padding: 15px;
        align-items: center;
        background: var(--block-bg-color);

    }
    .category-product > div > a > img {
        height: 110px;
        width: 130px;
        order: 1;
    }
    .category-product > div > a > span {
        top: unset;
        left: unset;
        transform: none;
        position: relative;
        padding: 0;
        background: none;
        text-align: start;
        order: 2;
        opacity: 1;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .category-product > div > a > i {
        display: block;
        color: #000000;
        font-size: 40px;
        order: 3;
        margin-left: auto;
        font-weight: 600;
    }
    .title-discounts {
        color: #000000;
        order: 5;
        font-size: 24px;
    }
    .title-category-in {
        display: none;
    }
    .discounts {
        order: 6;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 80px;
        gap: 6px;
    }
    .discounts > .product {
        grid-template-rows: 40% 60%;
        height: 200px;
        border-radius: 10px;
    }
    .product-img > img {
      border-radius: 10px;
    }
    .product > .product-body {
        padding: 0;
    }
    .product-body > .product-title {
        font-size: 18px;
    }
    .product-value {
        font-size: 12px;
        padding: 3px 8px;
    }
    .product-price {
        font-size: 12px;
        padding: 3px 5px;
        border-radius: 8px;
        box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.8);
    }
    .product-cart {
        display: none;
    }
    .product-in {
        display: block;
        bottom:  -100%;
        z-index: 110;
        background: var(--block-bg-color);
        height: max-content;
        border-radius: 25px 25px 0 0;
        border-top: 1px solid #1b1b1b;
        transition: .5s;
        padding-bottom: 15px;
    }
    .product-in-view {
        bottom: 0;
    } 
    .product-in-header {
        display: grid;
        grid-template-columns: 90% 10%;
        text-align: center;
        padding: 10px;
        gap: 5px;
        color: #000;
    }
    .product-in-header > span {
        padding-left: 35px;
        font-size: 28px;
    }
    .product-in-header > i {
        display: flex;
        align-items: center;
    }
    .product-in-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        background: var(--block-bg-color);
        gap: 2px;
    }
    .product-in-body > div {
        width: 350px;
        height: 200px;
        padding-top: 5px;
        margin-bottom: 2px;
        background: transparent;
    }
    .product-in-body > div > img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border: none;
        border-radius: 15px;
    }
    .product-in-body > span {
        padding: 5px 20px;
        background: var(--block-bg-color);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
        color: #000000;
        margin: 3px 0;
        border-radius: 10px;
        width: 100px;
        text-align: center;
        font-size: 20px;
    }
    .product-in-body > button {
        padding: 5px 20px;
        width: 350px;
        font-size: 20px;
        color: #000000;
        height: 45px;
        border-radius: 10px;
        border: none;
        margin-top: 3px;
        background: var(--block-bg-color);
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
        &:focus {
            box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
        }
        &:active {
            box-shadow: #D6D6E7 0 3px 7px inset;
            transform: translateY(2px);
        }
    }
    .header480 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 20px;
        border-radius: 10px;
        box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
        height: 60px;
        background: var(--block-bg-color);
        z-index: 100;
    }
    .header480 a {
        font-size: 28px;
        display: flex;
        color: #1b1b1b;
    }
    #playAudio {
        border-radius: unset;
        background: unset;
        padding: unset;
        box-shadow: unset;
        font-size: 32px;
        width: unset;
    }
    .header480 img {
        clip-path: circle();
        width: 35px;
    }
    footer {
        display: none;
    }
}