@media (max-width: 480px) {
    header {
        height: 40px;
        padding: 10px 15px;
        background: transparent;
    }
    .logo {
        display: none;
    }
    .search {
        height: 100%;
        width: 100%;
    }
    .search input {
        height: 100%;
        outline: none;
        font-size: larger;
        padding-left: 50px;
    }
    .search input:focus {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 4px 10px 0px;
    }
    .nav {
        display: none;
    }

    main {
        padding: 10px 15px;
    }
    .banner {
        height: 250px;
        order: 2;
    }
    .banner-1 {
        display: none;
    }
    .banner-2 {
        width: 100%;
    }
    .title-discount {
        display: none;
    }
    .discount {
        margin: 0 0 20px 0;
        order: 1;
    }
    .title-category {
        order: 3;
    }
    .category-product {
        order: 4;
    }
    .title-discounts {
        order: 5;
    }
    .discounts {
        order: 6;
        grid-template-columns: 1fr 1fr;
    }
    .discounts > .product {
        height: 300px;
    }
    .product-body > .product-title {
        font-size: 20px;
    }
    .product-body > div > span {
        font-size: 20px;
    }
    .header480 {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 10px 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
        height: 60px;
        background: var(--color-dark-grey);
    }
    .header480 a {
        font-size: 28px;
        display: flex;
    }
    .header480 img {
        clip-path: circle();
        width: 35px;
    }
    footer {
        padding-bottom: 65px;
    }
    footer > .footer-top {
        padding: 10px 20px;
        grid-template-columns: 1fr 100px;
    }
    .footer-top > div > span {
        font-size: 12px;
    }
    .left {
        justify-content: center;
    }
    .right {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #e2e2e2;
        cursor: pointer;
    }
    .footer-bottom {
        padding: 10px 20px;
    }
    .footer-bottom-nav {
        padding: 20px;
        flex-direction: column;
        gap: 10px;
    }
}