:root {
    --bg-color: #ECF0F3;
    --block-bg-color: #E0E5EC;

    --background-dark-green-100: #12372A;
    --color-dark-green: #12372A;
    --background-dark-green-75: #436850;
    --color-dark-green-75: #436850;
    --background-dark-green-50: #ADBC9F;
    --color-dark-green-50: #ADBC9F;
    --background-dark-green-25: #FBFADA;
    --color-dark-green-25: #FBFADA;

    --color-white: #fff;
    --color-light-grey: #e2e2e2;
    --color-dark-grey: #4e4e4e;
    --background-dark: #1b1b1b;
    --background-light-grey: #e2e2e2;
    --background-light: #fff;
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fixed-bottom {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
}
  